apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: elasticsearch
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
      - name: kibana
        image: docker.elastic.co/kibana/kibana:9.1.6
        env:
        - name: ELASTICSEARCH_HOSTS
          value: "http://elasticsearch.elasticsearch.svc.cluster.local:9200"
        ports:
        - containerPort: 5601
