apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: elasticsearch
data:
  filebeat.yml: |
    filebeat.inputs:
    - type: filestream
      id: kubernetes-containers
      enabled: true

      prospector.scanner.symlinks: true

      paths:
        - /var/log/containers/*.log

      parsers:
        - container:
            stream: all
            format: auto

    processors:
      - add_kubernetes_metadata:
          host: ${NODE_NAME}
          matchers:
            - logs_path:
                logs_path: "/var/log/containers/"

    output.elasticsearch:
      hosts: ["http://elasticsearch:9200"]

    setup.template.enabled: true
    setup.ilm.enabled: false

    logging.level: info
