name: Backend CI (GitOps)

on:
  push:
    branches: [ main ]
    paths:
      - 'applications/backend/**'

jobs:
  build:
    runs-on: self-hosted
    env:
      IMAGE_NAME: m31llow/backend

    steps:
      - name: Cleanup Workspace
        run: rm -rf .git || true

      - name: Checkout
        uses: actions/checkout@v4

      - name: Build & Push Image
        run: |
          TAG=${GITHUB_SHA}
          docker build -t $IMAGE_NAME:$TAG ./applications/backend
          docker push $IMAGE_NAME:$TAG
          echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV

      - name: Update Manifest
        run: |
          sed -i "s/__IMAGE_TAG__/${IMAGE_TAG}/g" \
            k8s/apps/backend/deployment.yaml

          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git commit -am "deploy backend ${IMAGE_TAG}"
          git push origin main
