name: Backend CI/CD

on:
  push:
    branches: [ main ]
    paths:
      - 'applications/backend/**'
      - 'k8s/backend/**'

jobs:
  build-and-deploy:
    env:
      IMAGE_NAME: m31llow/backend
      KUBE_NAMESPACE: backend

    steps:
      - name: Cleanup Workspace
        run: |
          echo "Cleaning up old git metadata..."
          rm -rf .git
          
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          clean: true

      - name: Docker Build & Push
        run: |
          docker build -t ${{ env.IMAGE_NAME }}:latest -t ${{ env.IMAGE_NAME }}:${{ github.sha }} ./applications/backend
          # docker login ต้องทำไว้ที่เครื่อง runner หรือใส่ใน step ก่อนหน้า
          docker push ${{ env.IMAGE_NAME }}:latest
          docker push ${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Deploy to K8s
        run: |
          kubectl apply -f k8s/backend/configmap.yaml
          kubectl apply -f k8s/backend/backend.yaml
          # Force rollout เพื่อใช้ image ใหม่
          kubectl rollout restart deployment backend -n ${{ env.KUBE_NAMESPACE }}