name: CI-CD

on:
  push:
    branches: [main]

env:
  IMAGE_NAME: m31llow/backend

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # ------------------------
    # Docker Login
    # ------------------------
    - name: Login Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
        -u "${{ secrets.DOCKER_USERNAME }}" \
        --password-stdin

    # ------------------------
    # Build & Push Image
    # ------------------------
    - name: Build and Push Backend Image
      run: |
        IMAGE_TAG=${GITHUB_SHA::7}
        docker build \
          -t $IMAGE_NAME:$IMAGE_TAG \
          -f applications/backend/Dockerfile \
          applications/backend
        docker push $IMAGE_NAME:$IMAGE_TAG
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

    # ------------------------
    # Create Kubernetes Cluster (kind)
    # ------------------------
    - name: Create kind cluster
      uses: helm/kind-action@v1.10.0

    # ------------------------
    # Verify cluster
    # ------------------------
    - name: Check cluster
      run: |
        kubectl cluster-info
        kubectl get nodes

    # ------------------------
    # Deploy to Kubernetes
    # ------------------------
    - name: Deploy Backend
      run: |
        sed -i "s|IMAGE_TAG|${IMAGE_TAG}|g" k8s/backend/backend.yaml
        kubectl apply -f k8s/backend/
