name: CI-CD Backend

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: m31llow/backend

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    # ------------------------
    # Docker Login
    # ------------------------
    - name: Docker Login
      run: |
        echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

    # ------------------------
    # Build & Push Image
    # ------------------------
    - name: Build and Push Docker Image
      run: |
        IMAGE_TAG=${GITHUB_SHA::7}
        docker build \
          -t $IMAGE_NAME:$IMAGE_TAG \
          -f applications/backend/Dockerfile \
          applications/backend
        docker push $IMAGE_NAME:$IMAGE_TAG
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV


    # ------------------------
    # Setup kubeconfig
    # ------------------------
    - name: Setup kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${KUBECONFIG_B64}" | base64 -d > ~/.kube/config
      env:
        KUBECONFIG_B64: ${{ secrets.KUBECONFIG_B64 }}

    # ------------------------
    # Verify Cluster
    # ------------------------
    - name: Verify Kubernetes connection
      run: |
        kubectl cluster-info
        kubectl get nodes

    # ------------------------
    # Replace Image Tag
    # ------------------------
    - name: Update image tag
      run: |
        sed -i "s|IMAGE_TAG|${IMAGE_TAG}|g" k8s/backend/backend.yaml

    # ------------------------
    # Deploy
    # ------------------------
    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/backend/
