name: CI-CD

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: m31llow/backend
  NAMESPACE: backend

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # -------------------------
    # Docker
    # -------------------------
    - name: Login Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" \
          --password-stdin

    - name: Build & Push Image
      run: |
        IMAGE_TAG=${GITHUB_SHA::7}
        docker build -t $IMAGE_NAME:$IMAGE_TAG applications/backend
        docker push $IMAGE_NAME:$IMAGE_TAG
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

    # -------------------------
    # Kubectl setup
    # -------------------------
    - name: Setup kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG_DATA }}" > ~/.kube/config
        chmod 600 ~/.kube/config

    - name: Verify cluster
      run: |
        kubectl cluster-info
        kubectl get nodes

    # -------------------------
    # Deploy
    # -------------------------
    - name: Deploy backend
      run: |
        kubectl create namespace $NAMESPACE --dry-run=client -o yaml | kubectl apply -f -

        sed -i "s|IMAGE_TAG|${IMAGE_TAG}|g" k8s/backend/backend.yaml

        kubectl apply -f k8s/backend/

        kubectl rollout restart deployment/backend -n $NAMESPACE
        kubectl rollout status deployment/backend -n $NAMESPACE

    # -------------------------
    # Debug
    # -------------------------
    - name: Debug
      run: |
        kubectl get pods -n $NAMESPACE
